$color__font--black: #212121;
$color__header--black: #222221;
$color__global--green: #86bc42;
$color__headerText--black: #242c42;
$color__background--grey: #f0f2f7;
$color__border--grey: #e1e1e1;


html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: $color__font--black;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    max-width: 1280px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    padding: 60px 0;

    .preTitle, .mainTitle, .magazineIcon {
        margin: 10px 0;
    }

    .preTitle {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .mainTitle {
        font-size: 3.5rem;
    }

    .magazineWrapper:before {
        content: "";
        display: inline-block;
        width: 25px;
        height: 23px;
        border-top: 2px solid $color__global--green;
        margin-right: 10px;
    }

    .magazineWrapper:after {
        content: "";
        display: inline-block;
        width: 25px;
        height: 23px;
        border-top: 2px solid $color__global--green;
        margin-left: 10px;
    }


}

.title__h5 {
    font-size: 2.4rem;
    margin: 0;
    padding: 20px 0;
}


@media (max-width: 750px) {
    .wrapper {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .title {
        padding: 20px 0;
    }

    .mainTitle {
    font-size: 3rem;
    } 
}

@media (max-width : 450px) {

    .wrapper {
        width: 90%;
    }
}