
// this is the start of the pre header styling

.preHeader {
    background-color: $color__header--black;
    color: white;
    padding: 20px 0;
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;

    .preHeader__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .preHeader__contact, .preHeader__logo, .preHeader__signIn {
        width: 33.3%;
        display: flex;
        align-items: center; 
    }

    .preHeader__contact {
        justify-content: flex-start;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
    }
    
    .preHeader__phone, .preHeader__email {
        margin-right: 20px;
        color: $color__global--green;
    }
    
    .preHeader__phoneNumber, .preHeader__emailAdress {
        margin-left: 5px;
        color: white;
    }

    .preHeader__logo {
        justify-content: center;
    }

    .preHeader__signIn {
        justify-content: flex-end;
    }

    .preHeader__signInLink {
        color: white;
        text-decoration: none;
    }

    .preHeader__divider {
        margin: 0 10px;
    }

    .preHeader__register:hover .preHeader__signInLink {
        color: $color__global--green;
        font-size: 1.4rem;
        transition: 0.3s all;
    }

    .preHeader__login:hover .preHeader__signInLink {
        color: $color__global--green;
        font-size: 1.4rem;
        transition: 0.3s all;
    }

}

// pre header media queries

@media (max-width: 1150px) {
        
    .preHeader__contact {
        display: flex;
        flex-direction: column;
    }

    .preHeader__email {
        width: 100%;
    }

    .preHeader__phone {
        width: 100%;
        margin: 5px 0;
    }

}

@media (max-width: 550px) {

    .preHeader .preHeader__contact {
        display: none;
    }
    .preHeader  .preHeader__logo {
        width: 80%;
        justify-content: flex-start;
    }

    .preHeader .preHeader__signIn {
        width: 30%;
    }

}

// end of pre header media queries

// this is the end of the pre header styling

// this is the start of the nav header styling

.navHeader {
    background-color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    
    .navHeader__wrapper {
        display: flex;
        justify-content: center;
    }
    
    .navHeader__list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
    }

    .navHeader__hamburger {
        display: none;
    }
    
    .navHeader__li {
        margin: 20px 30px;
    }
    
    .navHeader__link {
        text-decoration: none;
        color: $color__font--black;
    }

    .navHeader__link--green {
        color: $color__global--green;
        margin-right: 30px;
    }

    .navHeader__link:hover {
        color: $color__global--green;
        transform: scale(1.2);
        transition: 0.3s all;
    }

}
// this is the nav header media queries

@media (max-width: 1150px) {
    .navHeader .navHeader__li {
        margin: 20px 10px;
    }
}

@media (max-width: 576px) {
    .navHeader__li--flex{
        display: flex;
        justify-content: space-between;
    }

    .navHeader .navHeader__li {
        font-size: 1.2rem;
    }
}

@media (max-width : 450px) {
    .navHeader__li {
        display: none;
    }

    .navHeader .navHeader__hamburger {
        display: block;
        font-size: 3rem;
        padding: 10px 0;
    }
}


// end of nav header media queries

// this is the end of the navheader styling

// this is the start of the hero image header

.heroHeader {
    background: linear-gradient(rgba(55, 55, 55, 0.4), rgba(199, 199, 199, 0.7), rgba(55, 55, 55, 0.4)), url('../assets/image_header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $color__headerText--black;

    .heroHeader__h1, .heroHeader__paragraph, .heroHeader__button {
        margin: 20px 0;
    }

    .heroHeader__wrapper {
        text-align: center;
        padding: 300px 0;
    }

    .heroHeader__h1 {
        font-size: 7.2rem;
        font-weight: 900;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
        width: 600px;
        margin: 0 auto;
    }

    .heroHeader__paragraph {
        font-size: 1.8rem;
        font-weight: 400;
    }

    .heroHeader__button {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $color__global--green;
        border: none;
        padding: 20px 25px;
        color: white;
    }

    .heroHeader__button:hover {
        transform: scale(1.05);
        transition: 0.3s all;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    }

}

@media (max-width: 900px) {
    .heroHeader {
        background-position: center;
        padding: 100px 0;
    }

    .heroHeader .heroHeader__wrapper {
        padding: 0;
    }

    .heroHeader .heroHeader__h1 {
        font-size: 4.5rem;
        width: 100%;
    }

}




// this is the start of the hero header media queries

// this is the end of the header hero section

