article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #212121; }

.wrapper {
  width: 70%;
  margin: 0 auto;
  max-width: 1280px; }

.title {
  text-align: center;
  text-transform: uppercase;
  padding: 60px 0; }
  .title .preTitle, .title .mainTitle, .title .magazineIcon {
    margin: 10px 0; }
  .title .preTitle {
    font-size: 1.8rem;
    font-weight: 400; }
  .title .mainTitle {
    font-size: 3.5rem; }
  .title .magazineWrapper:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 23px;
    border-top: 2px solid #86bc42;
    margin-right: 10px; }
  .title .magazineWrapper:after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 23px;
    border-top: 2px solid #86bc42;
    margin-left: 10px; }

.title__h5 {
  font-size: 2.4rem;
  margin: 0;
  padding: 20px 0; }

@media (max-width: 750px) {
  .wrapper {
    width: 90%; } }

@media (max-width: 900px) {
  .title {
    padding: 20px 0; }
  .mainTitle {
    font-size: 3rem; } }

@media (max-width: 450px) {
  .wrapper {
    width: 90%; } }

.preHeader {
  background-color: #222221;
  color: white;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 300;
  width: 100%; }
  .preHeader .preHeader__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .preHeader .preHeader__contact, .preHeader .preHeader__logo, .preHeader .preHeader__signIn {
    width: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .preHeader .preHeader__contact {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; }
  .preHeader .preHeader__phone, .preHeader .preHeader__email {
    margin-right: 20px;
    color: #86bc42; }
  .preHeader .preHeader__phoneNumber, .preHeader .preHeader__emailAdress {
    margin-left: 5px;
    color: white; }
  .preHeader .preHeader__logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .preHeader .preHeader__signIn {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .preHeader .preHeader__signInLink {
    color: white;
    text-decoration: none; }
  .preHeader .preHeader__divider {
    margin: 0 10px; }
  .preHeader .preHeader__register:hover .preHeader__signInLink {
    color: #86bc42;
    font-size: 1.4rem;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
  .preHeader .preHeader__login:hover .preHeader__signInLink {
    color: #86bc42;
    font-size: 1.4rem;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

@media (max-width: 1150px) {
  .preHeader__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .preHeader__email {
    width: 100%; }
  .preHeader__phone {
    width: 100%;
    margin: 5px 0; } }

@media (max-width: 550px) {
  .preHeader .preHeader__contact {
    display: none; }
  .preHeader .preHeader__logo {
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .preHeader .preHeader__signIn {
    width: 30%; } }

.navHeader {
  background-color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700; }
  .navHeader .navHeader__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .navHeader .navHeader__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding: 0; }
  .navHeader .navHeader__hamburger {
    display: none; }
  .navHeader .navHeader__li {
    margin: 20px 30px; }
  .navHeader .navHeader__link {
    text-decoration: none;
    color: #212121; }
  .navHeader .navHeader__link--green {
    color: #86bc42;
    margin-right: 30px; }
  .navHeader .navHeader__link:hover {
    color: #86bc42;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }

@media (max-width: 1150px) {
  .navHeader .navHeader__li {
    margin: 20px 10px; } }

@media (max-width: 576px) {
  .navHeader__li--flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navHeader .navHeader__li {
    font-size: 1.2rem; } }

@media (max-width: 450px) {
  .navHeader__li {
    display: none; }
  .navHeader .navHeader__hamburger {
    display: block;
    font-size: 3rem;
    padding: 10px 0; } }

.heroHeader {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(55, 55, 55, 0.4)), color-stop(rgba(199, 199, 199, 0.7)), to(rgba(55, 55, 55, 0.4))), url("../assets/image_header.jpg");
  background: -webkit-linear-gradient(rgba(55, 55, 55, 0.4), rgba(199, 199, 199, 0.7), rgba(55, 55, 55, 0.4)), url("../assets/image_header.jpg");
  background: -o-linear-gradient(rgba(55, 55, 55, 0.4), rgba(199, 199, 199, 0.7), rgba(55, 55, 55, 0.4)), url("../assets/image_header.jpg");
  background: linear-gradient(rgba(55, 55, 55, 0.4), rgba(199, 199, 199, 0.7), rgba(55, 55, 55, 0.4)), url("../assets/image_header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #242c42; }
  .heroHeader .heroHeader__h1, .heroHeader .heroHeader__paragraph, .heroHeader .heroHeader__button {
    margin: 20px 0; }
  .heroHeader .heroHeader__wrapper {
    text-align: center;
    padding: 300px 0; }
  .heroHeader .heroHeader__h1 {
    font-size: 7.2rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    width: 600px;
    margin: 0 auto; }
  .heroHeader .heroHeader__paragraph {
    font-size: 1.8rem;
    font-weight: 400; }
  .heroHeader .heroHeader__button {
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #86bc42;
    border: none;
    padding: 20px 25px;
    color: white; }
  .heroHeader .heroHeader__button:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); }

@media (max-width: 900px) {
  .heroHeader {
    background-position: center;
    padding: 100px 0; }
  .heroHeader .heroHeader__wrapper {
    padding: 0; }
  .heroHeader .heroHeader__h1 {
    font-size: 4.5rem;
    width: 100%; } }

.trending {
  width: 100%;
  color: #212121; }
  .trending .trending__wrapper {
    padding: 50px 0; }
  .trending .trending__nav {
    padding-bottom: 50px; }
  .trending .trending__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 1.4rem;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .trending .trending__list .trending__category {
      list-style: none;
      margin: 0 20px; }
    .trending .trending__list .trending__category:hover .trending__categoryLink {
      color: #86bc42;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
    .trending .trending__list .trending__categoryLink {
      text-decoration: none;
      color: #212121; }
  .trending .trending__courses {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .trending .trending__courses .trending__course {
      width: 23%;
      margin-bottom: 30px;
      border: 1px solid #e1e1e1; }
    .trending .trending__courses .trending__course:hover {
      -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
      transform: scale(1.01);
      -webkit-transition: .3s all;
      -o-transition: .3s all;
      transition: .3s all;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
    .trending .trending__courses .trending__categoryImage {
      width: 100%; }
    .trending .trending__courses .trending__categoryTitle {
      font-size: 1.6rem;
      font-weight: 700;
      padding: 10px 10px;
      margin: 0;
      min-height: 80px;
      max-height: 90px; }
    .trending .trending__courses .trending__teacher {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 10px 10px;
      border-bottom: 1px solid #e1e1e1; }
    .trending .trending__courses .trending__teacherImage {
      background-color: #b7b7b7;
      border-radius: 50%;
      height: 40px;
      width: 40px; }
    .trending .trending__courses .trending__teacherInfo {
      margin: 0 0 10px 10px; }
    .trending .trending__courses .trending__teacherName, .trending .trending__courses .trending__view {
      margin: 0; }
    .trending .trending__courses .trending__teacherName {
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-weight: 400; }
    .trending .trending__courses .trending__view {
      font-size: 1.2rem;
      text-transform: uppercase; }
    .trending .trending__courses .trending__viewLink {
      color: #86bc42;
      text-decoration: none; }
    .trending .trending__courses .trending__courseFooter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 20px 10px;
      font-size: 1.4rem; }
    .trending .trending__courses .trending__counters {
      font-family: 'Montserrat', sans-serif;
      color: #666666; }
    .trending .trending__courses .trending__studentCount, .trending .trending__courses .trending__commentCount {
      margin-right: 10px;
      padding-left: 2px; }
    .trending .trending__courses .trending__price {
      color: #86bc42;
      font-weight: 500; }

@media (max-width: 1050px) {
  .trending .trending__courses .trending__course {
    width: 48%; } }

@media (max-width: 550px) {
  .trending .trending__courses .trending__course {
    width: 100%; }
  .trending .trending__course .trending__categoryTitle {
    min-height: 40px;
    font-size: 1.8rem; }
  .trending .trending__wrapper .trending__nav .trending__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .trending .trending__wrapper .trending__nav .trending__list .trending__category {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px; } }

.gallery {
  width: 100%;
  background-color: #f0f2f7;
  padding: 50px 0; }
  .gallery .gallery__arrow--before {
    display: none;
    color: #86bc42; }
  .gallery .gallery__arrow--after {
    display: none;
    color: #86bc42; }
  .gallery .gallery__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
  .gallery .gallery__imageContainer {
    width: 32%;
    position: relative; }
  .gallery .gallery__image {
    width: 100%;
    margin-bottom: 25px; }
  .gallery .gallery__plus--hover {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    display: none; }
  .gallery .gallery__imageContainer:hover .gallery__plus--hover {
    display: block; }
  .gallery .fa-plus-circle {
    font-size: 50px; }

@media (max-width: 1000px) {
  .gallery .gallery__image {
    margin-bottom: 10px; } }

@media (max-width: 800px) {
  .gallery .gallery__imageContainer {
    width: 48%; } }

@media (max-width: 600px) {
  .gallery .gallery__wrapper .gallery__imageContainer {
    width: 95%;
    margin: 0 auto;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .gallery .gallery__wrapper .gallery__imageContainer--mobile {
    display: none; }
  .gallery .gallery__arrow--before {
    display: inline-block;
    color: #86bc42;
    font-size: 4rem;
    margin-right: 20px; }
  .gallery .gallery__arrow--after {
    display: inline-block;
    color: #86bc42;
    margin-left: 20px;
    font-size: 4rem; }
  .gallery .gallery__arrow--after:hover {
    color: #212121;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
  .gallery .gallery__arrow--before:hover {
    color: #212121;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all; }
  .gallery .gallery__wrapper .gallery__plus--hover .fa-plus-circle {
    display: none; } }

.news {
  padding: 50px 0; }
  .news .news__articleContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .news .news__articleContainer .news__article {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      background: #f0f2f7;
      margin: 40px 0; }
    .news .news__articleContainer .news__imageContainer {
      width: 45%;
      position: relative;
      top: -40px;
      left: 40px; }
    .news .news__articleContainer .news__image {
      width: 100%; }
    .news .news__articleContainer .news__articleContent {
      width: 50%;
      padding: 50px 20px;
      color: #212121; }
    .news .news__articleContainer .news__articleInfo {
      font-size: 1.4rem;
      font-family: 'Montserrat', sans-serif; }
    .news .news__articleContainer .news__divider {
      padding: 0 5px; }
    .news .news__articleContainer .news__articleDescription {
      font-size: 1.4rem;
      padding: 50px 0;
      margin: 0;
      line-height: 20px; }
    .news .news__articleContainer .news__learnMore {
      font-size: 1.4rem;
      font-weight: 700;
      text-transform: uppercase;
      background-color: #86bc42;
      border: none;
      padding: 15px 25px;
      color: white; }
    .news .news__articleContainer .news__learnMore:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
    .news .news__articleContainer .news__counters {
      font-family: 'Montserrat', sans-serif;
      padding: 10px 0; }
    .news .news__articleContainer .news__studentCount, .news .news__articleContainer .news__commentCount {
      margin-right: 10px;
      padding-left: 2px; }

@media (max-width: 1280px) {
  .news .news__articleContent .news__articleDescription {
    padding: 20px 0; } }

@media (max-width: 900px) {
  .news .news__articleContainer .news__article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .news .news__articleContainer .news__imageContainer {
    width: 100%;
    position: static; }
  .news .news__articleContainer .news__articleContent {
    width: 100%;
    padding: 20px;
    text-align: center; }
    .news .news__articleContainer .news__articleContent .news__articleTitle {
      text-align: center; } }

.different {
  background-color: #f0f2f7;
  padding: 50px 0; }
  .different .different__valueContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 50px; }
  .different .different__value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    position: relative;
    z-index: 0; }
  .different .different__valueName {
    font-size: 2.4rem;
    margin: 0; }
  .different .different__valueDescription {
    padding-left: 20px;
    line-height: 20px; }
  .different .different__valueParagraph {
    font-size: 1.4rem;
    font-weight: 300; }
  .different .different__icon {
    position: relative;
    bottom: 40px; }
  .different .different__circle--absolute {
    height: 210px;
    width: 210px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -25px; }

@media (max-width: 900px) {
  .different {
    padding-bottom: 0; }
    .different .different__valueContainer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0; }
    .different .different__value {
      width: 100%;
      margin-bottom: 100px; }
    .different .different__circle--absolute {
      width: 150px;
      height: 150px;
      left: -10px; } }

.pricing {
  padding: 50px 0; }
  .pricing .pricing__optionContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 100px 0; }
  .pricing .pricing__option {
    width: 32%;
    background-color: #f0f2f7;
    text-align: center;
    position: relative;
    padding: 20px 0; }
  .pricing .pricing__priceContainer {
    font-size: 3.5rem;
    font-weight: 700;
    width: 125px;
    height: 125px;
    background-color: #f0f2f7;
    border: 10px solid white;
    border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 50%;
    top: -80px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .pricing .pricing__option--green {
    background-color: #86bc42;
    color: white; }
    .pricing .pricing__option--green .pricing__priceContainer--green {
      background-color: #86bc42;
      -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); }
  .pricing .pricing__trial {
    font-size: 2.4rem;
    margin: 50px 0 5px 0;
    font-weight: 700;
    text-transform: uppercase; }
  .pricing .pricing__description {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0; }
  .pricing .pricing__optionList {
    margin: 30px 10px;
    padding: 30px 0;
    background: white;
    color: #212121;
    font-size: 1.4rem; }
    .pricing .pricing__optionList .pricing__optionItem {
      list-style: none;
      padding: 0;
      margin: 25px 0; }
  .pricing .pricing__choose {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase; }

.pricing__option:hover {
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 35%;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.pricing__option:hover .pricing__priceTag {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in; }

.pricing__option:hover .pricing__choose--green {
  color: #86bc42;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.pricing__option:hover .pricing__choose--black {
  color: #212121;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.pricing__option:hover .pricing__priceContainer {
  -webkit-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all;
  width: 140px;
  height: 140px;
  border: 15px solid #86bc42;
  -webkit-box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.5); }

@media (max-width: 980px) {
  .pricing .pricing__optionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0px; }
  .pricing .pricing__option {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px; }
  .pricing .pricing__optionList {
    width: 50%;
    margin: 30px auto; }
  .pricing .pricing__option:hover .pricing__optionList {
    width: 90%;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in; } }

.footer {
  width: 100%;
  background-color: #252525;
  color: #f8f9f9;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 50px 0;
  line-height: 20px; }
  .footer .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer .footer__block {
    width: calc(33.3% - 2%);
    margin: 0 2%; }
  .footer .footer__blockTitle {
    font-size: 2.4rem;
    margin: 0;
    padding: 5px 0 50px 0;
    text-transform: uppercase;
    font-weight: 700; }
  .footer .footer__logoBlock {
    margin-left: 0;
    width: calc(40.3% - 1%); }
    .footer .footer__logoBlock .footer__geniusDescription {
      padding: 20px 0; }
    .footer .footer__logoBlock .footer__geniusDescription--green {
      color: #86bc42; }
    .footer .footer__logoBlock .footer__checklist {
      padding: 10px 0; }
    .footer .footer__logoBlock .footer__checklist {
      color: #86bc42;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer__logoBlock .footer__checklistItem {
      padding-left: 10px;
      color: white; }
  .footer .footer__coursesBlock {
    width: calc(26.3% - 2%); }
    .footer .footer__coursesBlock .footer__verticalNav {
      margin: 0;
      padding: 0; }
    .footer .footer__coursesBlock .footer__navItem {
      list-style: none;
      color: #86bc42;
      margin-bottom: 15px; }
    .footer .footer__coursesBlock .footer__navLink {
      text-decoration: none;
      color: white; }
    .footer .footer__coursesBlock .fa-angle-right {
      display: none;
      margin-right: 5px; }
    .footer .footer__coursesBlock .footer__navItem:hover .footer__navLink {
      color: #86bc42;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all; }
    .footer .footer__coursesBlock .footer__navItem:hover .fa-angle-right {
      display: inline-block;
      -webkit-transition: 0.5s all;
      -o-transition: 0.5s all;
      transition: 0.5s all; }
  .footer .footer__contactBlock {
    width: calc(33.3% - 2%);
    margin: 0 2%; }
    .footer .footer__contactBlock .footer__contactInfo {
      margin-bottom: 20px;
      color: #86bc42; }
    .footer .footer__contactBlock .fa-map-marker-alt {
      margin-bottom: 15px; }
    .footer .footer__contactBlock .footer__contactParagraph {
      display: inline-block;
      width: 70%;
      margin: 0;
      padding-left: 10px;
      color: white; }
    .footer .footer__contactBlock .footer__contactParagraph:hover {
      color: #86bc42; }
  .footer .footer__newsletterBlock {
    margin-right: 0;
    width: calc(33.3% - 1%); }
    .footer .footer__newsletterBlock .footer__newsletterParagraph {
      margin: 0 0 30px 0; }
    .footer .footer__newsletterBlock .footer__form {
      width: 100%;
      margin: 0; }
    .footer .footer__newsletterBlock .footer__emailInput {
      font-size: 1.2rem;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      width: 80%;
      float: left;
      color: #999999; }
    .footer .footer__newsletterBlock .footer__emailButton {
      height: 35px;
      width: calc(20% - 10px);
      margin-left: 10px;
      border: none;
      background-color: #86bc42;
      float: left;
      color: white; }
    .footer .footer__newsletterBlock .footer__newsletterNote {
      clear: both;
      font-size: 1.2rem;
      color: #999999;
      padding: 10px 0; }
    .footer .footer__newsletterBlock .footer__social {
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .footer .footer__newsletterBlock .footer__socialLink {
      list-style: none;
      margin-right: 20px;
      font-size: 2rem; }
    .footer .footer__newsletterBlock .footer__socialLink:hover {
      color: white;
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      transform: scale(1.3);
      -webkit-transition: .1s all;
      -o-transition: .1s all;
      transition: .1s all; }
    .footer .footer__newsletterBlock .footer__socialLink--blue {
      color: #3b5999; }
    .footer .footer__newsletterBlock .footer__socialLink--lightBlue {
      color: #00aced; }
    .footer .footer__newsletterBlock .footer__socialLink--red {
      color: #d34836; }
    .footer .footer__newsletterBlock .footer__socialLink--maroon {
      color: #cd486b; }

.postFooter {
  width: 100%;
  background-color: #222221;
  color: rgba(255, 255, 255, 0.7);
  padding: 30px 0;
  font-size: 1rem; }
  .postFooter .postFooter__wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .postFooter .postFooter__nav {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0; }
    .postFooter .postFooter__nav .postFooter__navListItem {
      margin-right: 10px;
      list-style: none; }
    .postFooter .postFooter__nav .postFooter__navLink {
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7); }
    .postFooter .postFooter__nav .postFooter__navLink--active {
      color: #86bc42; }
    .postFooter .postFooter__nav .postFooter__navListItem:hover .postFooter__navLink {
      color: #86bc42; }
  .postFooter .postFooter__copyright {
    font-size: 1.4rem;
    margin: 0; }
    .postFooter .postFooter__copyright .postFooter__copyright--green {
      color: #86bc42; }

@media (max-width: 1560px) {
  .footer .footer__contactBlock .fa-map-marker-alt {
    margin-bottom: 35px; }
  .footer .footer__newsletterBlock .footer__emailButton {
    width: calc(20% - 5px);
    margin-left: 5px; } }

@media (max-width: 1050px) {
  .footer {
    font-size: 1.3rem; }
    .footer .footer__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .footer .footer__logoBlock {
      width: calc(40% - 3%);
      margin-right: 3%; }
    .footer .footer__coursesBlock, .footer .footer__contactBlock {
      width: calc(30% - 4%);
      margin: 0 2%;
      padding: 5px 0px 0px 10px; }
    .footer .footer__newsletterBlock {
      width: 100%;
      margin-top: 50px; }
    .footer .footer__blockTitle {
      font-size: 2rem; } }

@media (max-width: 600px) {
  .footer__coursesBlock {
    display: none; }
  .footer .footer__contactBlock {
    width: calc(50% - 4%);
    padding-left: 50px; }
  .footer .footer__logoBlock {
    width: calc(50% - 3%);
    margin-right: 3%;
    padding-left: 50px; } }

@media (max-width: 450px) {
  .footer .footer__contactBlock {
    width: calc(50% - 4%);
    padding-left: 0px; }
  .footer .footer__logoBlock {
    width: calc(50% - 3%);
    margin-right: 3%;
    padding-left: 0px; }
  .postFooter .postFooter__nav {
    display: none; }
  .postFooter .postFooter__wrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; } }
